<%-include('./Header.ejs')%>
<link rel="stylesheet" href="/CSS/style.css" />
</head>
<body>
    <%-include('./Navbar.ejs') %>
    <div class="errorDiv">
        <h1>Page Not Found</h1>
    </div>

<%-include('./Footer.ejs') %>