<%-include('./Common/Header.ejs')%>
<link rel="stylesheet" href="/CSS/style.css" />

</head>
<body>
  <%-include('./Common/Navbar.ejs')%>
  <div class="flex-items">
    <div class="home">
    <!-- <img src="./image/banner_virat.png" alt=""> -->
    <h3>Welcome To Shopping Mart</h3>
    </div>
  </div>
<%-include('./Common/Footer.ejs')%>